head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  
  link(rel="icon" href="img/fav.ico" type="image/x-icon")
  
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
  
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")


  script(src="https://code.jquery.com/jquery-2.1.3.min.js")

  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Raleway' rel='stylesheet')
  
  link(rel='stylesheet' ,='' href='portfolio.css')
  meta(name='description' content='Web site')
  
  title MINHO Studio

body
  section.intro
    img.image(src='img/back.jpg' alt='')
    .inner
      #content.animate__animated.animate__bounceInUp
        .title
          p Hello World!
        button View my works
  
  .mainNav
     nav(class="navbar navbar-expand-md")
        div(class="container-fluid")
          button(class="navbar-brand") MINHO Studio
          
          button(class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation")
            span(class="material-icons") menu
                
          div(class="navbar-collapse collapse" id="navbarResponsive")
            ul(class="nav navbar-nav mr-auto mt-2 mt-lg-0 text-uppercase")
              li(class="nav-item" role="presentation")
                button.nav-link_work(data-toggle="collapse" data-target="#navbarResponsive") WORKS
              li(class="nav-item" role="presentation")
                button.nav-link_profile(data-toggle="collapse" data-target="#navbarResponsive") PROFILE
              li(class="nav-item" role="presentation")
                button.nav-link_contact(data-toggle="collapse" data-target="#navbarResponsive") CONTACT                        
              
  .body2
    section.works
      .carousel
        button.carousel__button.carousel__button--left.is-hidden
          img(src='/img/left.svg' alt='')
        .carousel__track-container
          ul.carousel__track
            li.carousel__slide.current
              .content
                h1 Car Rental Manager
                p Register, update, and check your cars
                p.specific
                  | Users can register their cars with image and search the available car in a specific date. This site is developed with AWS S3 and mongoDB
                a(href='http://ec2-54-213-101-22.us-west-2.compute.amazonaws.com' target="_blank")
                  button.link
                    | Go to Site
                a(href='https://github.com/MinhoChoi-a/P1-Car_Rental_Managing' target="_blank")
                  button.link View Code
            li.carousel__slide
              .content
                h1 YouTube Cooking Chef
                p Try all the food from around the world
                  p.specific
                    | Users can easily find representative food around the world with this app. This site is developed with React.js and youtube-api
                a(href='https://youtube-chef.herokuapp.com/' target="_blank")
                  button.link
                    | Go to Site
                a(href='https://github.com/MinhoChoi-a/P2-Youtube_Chef' target="_blank")
                  button.link View Code
            li.carousel__slide
              .content
                h1 Weather City Application
                p Search your place and the weather information
                p.specific
                  | Users can get the weather info based on user&apos;s location, also they can search the city over the world. This site&apos;s info is based on openweathermap-api
                a(href='https://weather-city-pro.herokuapp.com/' target="_blank")
                  button.link
                    | Go to Site
                a(href='https://github.com/MinhoChoi-a/P3-Weather_App' target="_blank")
                  button.link View Code
            li.carousel__slide
              .content
                h1 All Beer Vibes Web-App
                p Find the beer what you want
                p.specific
                  | Users can easily find the beer with any little keyword, also they can manage their beer history. This site is developed with Untappd-api.
                button.link
                  | Comming Soon
        button.carousel__button.carousel__button--right
          img(src='img/right.svg' alt='')
        .carousel__nav
          button.carousel__indicator.current
          button.carousel__indicator
          button.carousel__indicator
          button.carousel__indicator
    section.work-list
      ul.list
        #head
          li
            button.work__button Car Rental Manager
        #tag-tag
          li#tag
            | pug
          li#tag
            | css
          li#tag
            | bootstrap
          li#tag
            | jquery
          li#tag
            | node-js
          li#tag
            | express-js
          li#tag
            | mongoDB
          li#tag
            | AWS-S3
          li#tag
            | MVC-model
      ul.list
        #head
          li
            button.work__button YouTube Chef
        #tag-tag
          li#tag
            | material-ui
          li#tag
            | react
          li#tag
            | youtube-api
      ul.list
        #head
          li
            button.work__button Weather City
        #tag-tag
          li#tag
            | html
          li#tag
            | css
          li#tag
            | vanilla-js
          li#tag
            | express-js
          li#tag
            | openweathermap-api
      ul.list
        #head
          li
            button.work__button All Beer Vibes
        #tag-tag
          li#tag
            | html
          li#tag
            | css
          li#tag
            | express-js
    button.navigate__profile
      p Profile Section
      span.material-icons
        | arrow_circle_down
  .body3
    section.basic_port
      .image
        img(src='img/port2.png')
      .text
        p.name
          | MINHO CHOI
        p
          | Experienced creative works in art & music business from production to distribution.
          | Studied at SAIT(Southern Alberta Institution of Technology) to transfer the career as 'developer'.
          | Always be humble and deligent to be a good memeber of team.
    section.learning
      ul.list
        #title
          li What MINHO learned
        #description
          li
            | Learn MUSIC 
            br.size
            | from 
            a(href='https://neweng.cau.ac.kr/cms/FR_CON/index.do?MENU_ID=820&CONTENTS_NO=1&P_TAB_NO=1' target="_blank") Chung-Ang University
            span#year  2005 - 2012
          li
            | Concert Video Production 
            br.size
            | from 
            a(href='http://www.arte.co.kr/' target="_blank") Arte TV
            span#year 2012 - 2013
          li
            | Create Show 
            br.size
            | from 
            a(href='http://www.its-new.co.kr/' target="_blank") SHOW&amp;NEW Co., Ltd.
            span#year 2013 - 2016
          li
            | Distribute Music 
            br.size
            | from 
            a(href='http://www.its-new.co.kr/' target="_blank") MUSIC&amp;NEW Co., Ltd.
            span#year 2016 - 2019
      ul.list
        #title
          li What MINHO keep learning
        #description_p
          li.skillBox
            p 
              a(href='https://www.sait.ca/programs-and-courses/full-time-studies/diplomas/information-technology' target="_blank") SAIT - Software Development Diploma
            p 50%
            .skill
              .skill_level(style='width:50%;')
          li.skillBox
            p 
              a(href='https://www.coursera.org/specializations/data-structures-algorithms?' target="_blank") Coursera - Data Structure and Algorithms
            p 20%
            .skill
              .skill_level(style='width:20%;')
          li.skillBox
            p 
              a(href='https://aws.amazon.com/certification/certified-developer-associate/' target="_blank") AWS Certified Developer - Associate
            p 15%
            .skill
              .skill_level(style='width:15%;')
          li.skillBox
            p Coding &amp; Programming
            p Never Ending
            .skill
              .skill_level(style='width:5%;')
      button.navigate__contact
        p Contact Section
        span.material-icons
          | arrow_circle_down

  .body4
    section.contact
      h1 CONTACT
      h4 Have a question or want to work together?
    form.contact_form(method='POST' action='')
      table.submit
        tr
          td
            input.name(type='text' name='name' placeholder='Name')
        tr
          td
            input.email(type='text' name='email' placeholder='E-mail')
        tr
          td
            textarea.text(placeholder='Message' name='Message' rows='4' cols='50')
      button.send(type='submit') Send

    section.afterEmail

    .foot
      a(href='https://www.linkedin.com/in/minhochoi/' target="_blank")
        i.fa.fa-linkedin
      a.middle(href='https://github.com/MinhoChoi-a' target="_blank")
        i.fa.fa-github
      a(href='https://www.youtube.com/channel/UCkfm-dWpRnvI9RPwhgFk7RA' target="_blank")
        i.fa.fa-youtube
      h4 MINHO STUDIO &copy;2020
    script(src='js/carousel.js')
    script(src='js/ajax.js')
